
<header class="header_wrap fixed-top" ng-controller="StaticDateCtrl">
    <div class="container">
        <nav class="navbar navbar-expand-lg"> 
            <a class="navbar-brand page-scroll animation" href="#home_section" data-animation="fadeInDown" data-animation-delay="1s" ng-click="logo()"> 
                <img src="assets/images/logo.png" class="w60" alt="logo">
            </a>
            <button class="navbar-toggler animation" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" data-animation="fadeInDown" data-animation-delay="1.1s"> 
                <span class="ion-android-menu"></span> 
            </button>
            <div class="collapse navbar-collapse menu-sty" id="navbarSupportedContent">
               

                <ul class="navbar-nav nav_btn">
                     <li class="animation" data-animation="fadeInDown" data-animation-delay="1.3s"><a
                            class="nav-link page-scroll nav_item" href="#how_it_work" ng-click="gotoWhoWeAre()">How We Work</a></li>
                    <li class="animation" data-animation="fadeInDown" data-animation-delay="1.2s"><a
                            class="nav-link page-scroll nav_item" href="#about" ng-click="gotoAboutUS()">About Us</a></li>
                    <li class="animation" data-animation="fadeInDown" data-animation-delay="1.4s"><a
                            class="nav-link page-scroll nav_item" href="#faq" ng-click="faq()">FAQ<small>s</small></a></li>
                    <li class="animation" data-animation="fadeInDown" data-animation-delay="1.4s"><a
                            class="nav-link page-scroll nav_item" href="#careers" ng-click="careers()">Career</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
